---
const { src, class: className, name, job } = Astro.props;
---

<div class={`flex flex-col justify-end relative ${className}`}>
    <img src={src.src} alt="" class="w-full object-cover block" />
    <div
        class="absolute inset-0 bg-gradient-to-t from-black/40 via-transparent via-30% to-transparent"
    >
    </div>
    <h2
        class="text-bg absolute bottom-10 left-5 z-10 text-lg font-bold flex items-start justify-start"
    >
        {name}
    </h2>
    <p
        class="text-bg text-sm absolute bottom-5 left-5 z-10 flex items-start justify-start"
    >
        {job}
    </p>
</div>
